name: Create Release

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Download and Install Versify
        run: |
          curl -L "https://github.com/OpScaleHub/versify/releases/latest/download/versify-linux-amd64.tar.gz" -o versify.tar.gz
          tar -xzvf versify.tar.gz
          chmod +x versify-linux-amd64
          sudo mv versify-linux-amd64 /usr/local/bin/versify
          rm versify.tar.gz

      - name: Get Next Version
        id: get_version
        run: |
          VERSION=$(versify)
          if [[ -z "$VERSION" ]]; then
            echo "No version change detected."
            echo "version=" >> $GITHUB_OUTPUT
          else
            echo "New version found: $VERSION"
            echo "version=$VERSION" >> $GITHUB_OUTPUT
          fi

      - name: Create Git Tag and GitHub Release
        if: steps.get_version.outputs.version
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ steps.get_version.outputs.version }}
          name: Release ${{ steps.get_version.outputs.version }}
          body: "See CHANGELOG for details."
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
